.multi-instance-demo {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .instance-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
  }

  .instance-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .instance-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
  }

  .instance-btns {
    display: flex;
    gap: 5px;
  }

  .wrapper {
    margin: 0 auto;
    border: 1px solid #dadadc;
    background-color: #fafafc;
  }
}
